.hero {
  background-color: var(--dark-color);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-color);
}

.hero-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--primary-brand-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state-color);
}
